In [2]:
num =3

In [3]:
print(type(num))

<class 'int'>

In [5]:
num =3.14

In [6]:
print(type(num))

<class 'float'>

## Arithmetic Operators:
#### Addition:       3 + 2
#### Subtraction:    3 - 2
#### Multiplication: 3 * 2
#### Division:       3 / 2
#### Floor Division: 3 // 2
#### Exponent:       3 ** 2
#### Modulus:        3 % 2

In [7]:
print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2)
print(3 // 2)
print(3 ** 2)
print(3 % 2)

5
1
6
1.5
1
9
1

In [8]:
print(abs(-3))

3

In [9]:
print(round(3.75))

4

In [10]:
print(round(3.75,1))

3.8

## Comparisons:
#### Equal:            3 == 2
#### Not Equal:        3 != 2
#### Greater Than:     3 > 2
#### Less Than:        3 < 2
#### Greater or Equal: 3 >= 2
#### Less or Equal:    3 <= 2

In [11]:
print(3 == 2)
print(3 != 2)
print(3 > 2)
print(3 < 2)
print(3 >= 2)
print(3 <= 2)

False
True
True
False
True
False

**If some number a actually string**

In [12]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)

300